﻿<div class="jumbotron">
    <h1>FERI Drive</h1>
    <p class="lead">Smo med najboljšimi in najhitrejšimi servisi za ureditev prevoza, ko ga najbolj potrebujete.</p>
    <p><a href="@Url.Action("Prevozi","Prevoz")" class="btn btn-primary btn-lg">Poglejte si zadnje prevoze &raquo;</a></p>
</div>
<div class="row">
   @{ }
    <div class="col-md-4">
        <h2>Prevozi</h2>
        <p>Ker imamo veliko bazo prevozov in lahko ta postane nepregledna, vam nudimo podrobno iskanje prevozov, glede na vse vaše kriterije.</p>
        <p><a class="btn btn-default" href="@Url.Action("Prevozi","Prevoz")">Na prevoze! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Uporabniki</h2>
        <p>Ker jemljemo naše storitve zelo resno, nam je pomembno da so naši uporabniki zanesljivi. To zagotavljamo s sistemom ocen in komentarjev uporabnikov, če želite vpogled v te se prijavite ali registrirajte.</p>
        <p><a class="btn btn-default" href="@Url.Action("Registracija","Uporabnik")">Registracija &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Povežite se</h2>
        <p>Omogočamo način povezovanja med uporabniki, če še niste, si oglejte sporočila ki so vam jih namenili ostali uporabniki.</p>
        <p><a class="btn btn-default" href="@Url.Action("Inbox","Sporocila")">Moj nabiralnik &raquo;</a></p>
    </div>
</div>
