﻿
@{
    ViewBag.Title = "Potrjeno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div class="alert alert-warning" id="previous">
    <strong>Potrdite vaš email</strong>
    <input type="submit" class="btn btn-warning" value="Confirm" onclick="Verified()"/>
</div>
<div class=" alert alert-success" id="after" style="display:none">
    <strong>
        <span class="glyphicon glyphicon-ok">Vaša registracija je uspešna</span>
    </strong>            
</div>
<script>
    function Verified() {
        $.ajax({
            type: "post",
            url: "/Registracija/RegistracijaPotrjeno",
            data: { 'regEmail': '@ViewBag.regEmail' }
            success: function (msg) {
                $("#previous").hide();
                $("#after").show();
                alert(msg);
            }
        })
    }
</script>


