﻿@model Uporabnik

@{
    ViewBag.Title = "Uporabniki";
}
<div>
    <h3>Uporabnik @Model.uporabniskoIme</h3><span>
    @if (Session["name"] != null)
    {
        @Html.ActionLink("Uredi", "ProfilUredi", new { id = Model.Id })
        @Html.ActionLink("Moji prevozi", "UporabnikoviPrevozi")
    }
</span>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Uporabniško Ime:
        </dt>

        <dd>
            @Model.uporabniskoIme
        </dd>
        <dt>
            E-Mail:
        </dt>

        <dd>
            @Model.email
        </dd>
        <dt>
            Ime:
        </dt>

        <dd>
            @Model.ime
        </dd>
        <dt>
            Priimek:
        </dt>

        <dd>
            @Model.priimek
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefonska)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonska)
        </dd>

        <dt>
            Telefonska potrjena:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelPotrjena)
        </dd>
        <dt>
            Povprečna ocena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgOcena)
        </dd>
        <dt>
            Število ocen
        </dt>

        <dd>
            @ViewBag.steviloOcen
        </dd>

    </dl>
</div>
@if (Session["id"] != null)
{
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#ocenjevanje">Ocena prevoznika</button>

    <div id="ocenjevanje" class="collapse">
        <form action="dodajOceno" method="get">
            <input type="hidden" name="uporabniskoIme" value="@Html.DisplayFor(model => model.uporabniskoIme)" />
            <label class="radio-inline">
                <input type="radio" value="1" name="gradOpt">1
            </label>
            <label class="radio-inline">
                <input type="radio" value="2" name="gradOpt">2
            </label>
            <label class="radio-inline">
                <input type="radio" value="3" name="gradOpt">3
            </label>
            <label class="radio-inline">
                <input type="radio" value="4" name="gradOpt">4
            </label>

            <label class="radio-inline">
                <input type="radio" value="5" name="gradOpt">5
            </label>
            <div class="form-group">
                <label for="comment">Komentar</label>
                <textarea class="form-control" rows="5" id="comment" name="komentar"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Potrdi</button>
        </form>
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#komentarji">Prikaži komentarje</button>
    <br />
    <div id="komentarji" class="collapse">
        @foreach (Ocena ocena in ViewBag.ocene)
        {
            <tr>
                <div class="form-group">
                    @if (!ocena.Komentar.Equals(""))
                    {
                        <label for="commentar">@Html.ActionLink(ocena.Komentator.uporabniskoIme, "Profil", "Uporabnik", new { username = ocena.Komentator.uporabniskoIme }, null)</label>
                        <textarea class="form-control" rows="3" name="commentar">@ocena.Komentar</textarea>
                    }
                </div>
            </tr>
        }
    </div>
}
<p>
<div>
        @if (Session["name"] == null)
        {
            <div>
    <p>Za pošiljanje sporočila se prijavite.</p></div>
}
else
{
    <p>Kontaktiranje prevoznika:</p>
    <div id="kontaktiranje">
        <form method="get" action="~/Uporabnik/posiljanjeSporocilaU">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="hidden" value="@Html.DisplayFor(model=>model.Id)" name="prejemnik" />
                        <input type="hidden" value="@Session["id"].ToString()" name="posiljatelj" />
                        <input type="text" name="text" />
                        <input type="hidden" name="id" value="@Html.DisplayFor(model=>model.Id)" />
                    </div>
                </div>
            </div>

            <input type="submit" value="Pošlji sporočilo:" class="btn btn-primary" />
        </form>
    </div>
}
        </div>

        </p>
        <p>
            @Html.ActionLink("Nazaj na prevoze", "Prevozi", "Prevoz")
        </p>

       

