﻿@model Uporabnik

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nov Uporabnik</h2>

<!--
        this.uporabniskoIme = uporabniskoIme;
        this.geslo = geslo;
        this.email = email;
        this.telefonska = telefonska;
        this.ime = ime;
        this.priimek = priimek;

-->



    @Html.AntiForgeryToken()

<form method="post" action="DodajanjeUporabnika">
    <div class="form-horizontal">
        <h4>Registriraj se</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="username">Uporabniško Ime:</label>
                    <input type="text" class="form-control" name="username" required>
                </div>
                <div class="2 col-md-5">
                    <label for="userPassword">Geslo:</label>
                    <input type="password" class="form-control" name="userPassword" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="email">E-Mail:</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <div class="col-md-5">
                    <label for="phoneNumber">Telefonska:</label>
                    <input type="text" class="form-control" name="phoneNumber" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="usrName">Ime:</label>
                    <input type="text" class="form-control" name="usrName" required>
                </div>
                <div class="col-md-5">
                    <label for="usrSurname">Priimek:</label>
                    <input type="text" class="form-control" name="usrSurname" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Registriraj se!" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
