﻿@model  IEnumerable<Sporocilo>

@{
    ViewBag.Title = "SporocilaV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>Pošiljatelj</th>

        <th>Sporočilo</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.posiljateljS, "Profil", "Uporabnik", new { username = item.posiljateljS }, null)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>

        </tr>
    }
</table>

