﻿@model IEnumerable<Uporabnik>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            ime
        </th>
        <th>
            priimek
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geslo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefonska)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelPotrjena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priimek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Geslo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefonska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelPotrjena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
