﻿@model Uporabnik

@{
    ViewBag.Title = "Vpis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vpis</h2>



@if(ViewBag.Message == "napaka")
{
    <p>Napačno uporabniško ime ali geslo</p>
}
<div>
    <h4>Uporabnik</h4>
    <hr />
    <form method="post" action="prijava">
        <div class="form-group">
            <label for="username">Uporabniško Ime:</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
            <label for="userPassword">Geslo:</label>
            <input type="password" class="form-control" name="userPassword" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Prijavi se</button>
        </div>
    </form>

</div> 
