﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  </head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("FeriDrive", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Domov", "Index", "Home", new { area = "" }, new { @class = "navbar-link" })</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prevozi <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Prevozi","Prevoz")">Prevozi</a></li>
                        @if (Session["name"] != null)
                        {
                        <li><a href="@Url.Action("AddPrevoz", "Prevoz")">Dodaj Prevoz</a></li>
                        }
                    </ul>
                </li>
                <li>@Html.ActionLink("Uporabniki", "Uporabniki", "Uporabnik", new { area = "" }, new { @class = "navbar-link" })</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["name"] == null)
                {
                    <li><a href="@Url.Action("Registracija", "Uporabnik")"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
                    <li><a href="@Url.Action("Vpis", "Uporabnik")"><span class="glyphicon glyphicon-log-in"></span> Vpis</a></li>
                }
                else
                {
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>@Session["name"].ToString()</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moj Profil<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("vrniSporocila", "Uporabnik",new { posiljatelj = Session["id"] })"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Sporočila</a></li>
                            <li><a href="@Url.Action("Profil", "Uporabnik",new {username = Session["name"]})"><span class="glyphicon glyphicon-user"></span>&nbsp;Moj Profil</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Logout","Uporabnik")"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FERIDrive</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
