﻿@model UporabnikovPrevoz

@{
    ViewBag.Title = "Dodajanje prevoza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodajanje prevoza</h2>


<form action="dodajanjePrevoza" method="get">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="model">Model avta:</label>
                    <input type="text" class="form-control" name="model" required >
                </div>
                <div class="2 col-md-5">
                    <label for="cena">Cena:</label>
                    <input type="text" class="form-control" name="cena" required >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="krajOdhoda">Kraj Odhoda:</label>
                    <input type="text" class="form-control" name="krajOdhoda" required >
                </div>
                <div class="col-md-5">
                    <label for="krajPrihoda">Kraj Prihoda:</label>
                    <input type="text" class="form-control" name="krajPrihoda" required >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <label for="datum">Datum:</label>
                    <input type="date" class="form-control" name="datum" required >
                </div>
                <div class="col-md-5">
                    <label for="ura">Ura:</label>
                    <input type="time" class="form-control" name="ura" required >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Dodaj prevoz" class="btn btn-primary" />
                </div>
            </div>
        </div>

        </div>
</form>


<div>
  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
