﻿@model UporabnikovPrevoz
@{
    ViewBag.Title = "O Prevozu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("#kontaktiranje").toggle();
            });
        });
    </script>
</head>
<h2>Details</h2>
<div>
    <h4>Prevoz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cena:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena) €
        </dd>
        <dt>
            Od:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KrajOd.Ime)
        </dd>
        <dt>
            Začetek:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KrajDo.Ime)
        </dd>
        <dt>
            Odhod ob:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            Uporabnik:
        </dt>
        <dd>
            @Html.ActionLink(Model.Uporabnik.uporabniskoIme, "Profil", "Uporabnik", new { username = Model.Uporabnik.uporabniskoIme }, null)
        </dd>
        <dt>
            Telefonska številka:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uporabnik.Telefonska)
        </dd>
        <dt>
            Telefonska potrjena:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uporabnik.TelPotrjena)
        </dd>
        <dt>
            Model avta:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelAvta)
        </dd>
    </dl>
</div>
<div>
    @if (Session["name"] == null)
    {
        <div><p>Za pošiljanje sporočila se prijavite.</p></div>
    }
    else
    {
        <p>Kontaktiranje prevoznika:</p>
        <div id="kontaktiranje">
            <form method="get" action="~/Prevoz/posiljanjeSporocila">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="hidden" value="@Html.DisplayFor(model=>model.Uporabnik.Id)" name="prejemnik" />
                            <input type="hidden" value="@Session["id"].ToString()" name="posiljatelj" />
                            <input type="text" name="text" />
                            <input type="hidden" name="id" value="@Html.DisplayFor(model=>model.Id)" />
                        </div>
                    </div>
                </div>

                <input type="submit" value="Pošlji sporočilo:" class="btn btn-primary" />
            </form>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Nazaj", "Prevozi", "Prevoz")
</p>