﻿@model IEnumerable<UporabnikovPrevoz>

@{
    ViewBag.Title = "Prevozi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<h2>Prevozi</h2>
<br />
<form action="iskanjePrevoza" method="get">
    <div class="row">
        <div class="form-group col-sm-3">
            <h4>Kraj odhoda:</h4>
            <input name="krajOdhoda" id="kOdhoda" class="form-control" type="text" placeholder="Maribor"  />
        </div>
        <div class="col-sm-1 text-center">
            <h4 style="color:snow">.</h4>
            <button type="button" id="menjaj"><i class="glyphicon glyphicon-resize-horizontal vcenter"></i></button>

        </div>
        <div class="form-group col-sm-3">
            <h4>Kraj prihoda:</h4>
            <input name="krajPrihoda" id="kPrihoda" class="form-control" type="text" placeholder="Koper"  />
        </div>
        <div class="form-group col-sm-4">
            <div class="form-group">
                <div class="col col-sm-6">
                    <h4>Datum:</h4>
                    <input type="date" class="form-control" name="datum">
                </div>
                <div class="col col-sm-6">
                    <h4>Ura:</h4>
                    <input type="time" class="form-control" name="ura">
                </div>
            </div>
        </div>
        <div class="form-group col-sm-1">
            <h4 style="color:snow">.</h4>
            <button type="submit" value="Išči"> Išči </button>
        </div>

    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>Cena</th>
        <th>Kraj odhoda</th>
        <th>Kraj prihoda</th>
        <th>Datum </th>
        <th>Ura</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajOd.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajDo.Ime)
            </td>
            <td>
                @item.Datum.ToString(string.Format("dd/MM/yyyy"))
            </td>
            <td>
                @item.Datum.TimeOfDay.ToString()
            </td>
            <td>
                @Html.ActionLink("Podrobno", "Details", "Prevoz", new { id = item.Id }, null)

            </td>
        </tr>
    }

</table>

<script>
    $("#menjaj").click(function () {

        var t = $('#kOdhoda').val();
        $('#kOdhoda').val($('#kPrihoda').val());
        $('#kPrihoda').val(t);

    });

</script>
