﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:45px;">
        <b>Potrditev email-a</b>
    </div>
    <div>
        <pre>
            Pozdravljeni,
            uspešno ste se registrirali.

            Team FeriDrive.
            

        </pre>
    </div>
</body>
</html>
